
{% extends "base.html.twig" %}

{% block body %}
   <div class="my-5 container">
         <h1 class="text-center">Mon panier</h1>
        <div class="row"> 
           <div class="col-md-8">
              Produit acheté
           </div>
           <div class="col-md-4">
              resumé du panier
           </div>
           
         </div>
     
   </div>
{% endblock %}
