
{% extends "base.html.twig" %}

{% block body %}
   <div class="my-5 container">
         <h1 class="text-center">Inscription</h1>
        <div class="d-flex flex-col justify-content-center align-items-center"> 
           
           <div class="col-md-6">
             {{form(registerForm)}}
            </div>
         </div>
      <br>
      <p class="text-center">
        Avez-vous deja un compte ? <a href="{{path('app_login')}}">Connectez-vous</a>
      </p>
   </div>
{% endblock %}